 <section class="about section">
	<div class="section-inner">
		<h2 class="heading">About Me</h2>
		<div class="content">
			<p>I’m a web developer  living in Banglore, India. I spend my days with my hands in many different areas of web development from back end programming (Coldfusion, Java) to front end engineering (HTML, CSS, and jQuery/Javascript, Angular) and other development activities.</p>    

<p>I’m extremely passionate about web development  in all it’s forms. I follow-up on the most recent changes in web development and I am very active in the open source environment. I am open to work in product development firms where I can effectively use my skills and creativity. Apart from my office works, I used to spend freetime on Stackoverflow, Hackerrank etc. and contributing to open source github projects.  I would like to work as front end or full stack developer. I always try to update my skill set. </p>
		 {{aboutMe}}
		</div><!--//content-->
	</div><!--//section-inner-->                 
</section><!--//section-->
