 <section class="about section">
	<div class="section-inner">
		<h2 class="heading">About Me</h2>
		<div class="content">
			<p>I am a software developer from Kerala, India currently living in Hyderabad. I have a strong passion for web development and open technologies. I have been in this industry for more than 5 years now and I have gained so much experience. I have a proven track record of successful projects. I am capable of working independently and I do this well with a distributed team.</p>

			<p>I am currently a System Analyst at Valuelabs, an offshore web and mobile application / product development company based in India that provides innovative software solutions, quality development and consultancy services to its clients worldwide.</p>

			<p>I have an interest in meeting people and I love to connect people with the right resources and the support they need.</p>
		 
		</div><!--//content-->
	</div><!--//section-inner-->                 
</section><!--//section-->
