<div class="row">
            <div class="primary col-md-8 col-sm-12 col-xs-12">
               
              
			  
			  
			  
			  
			  
			  
               
                <section class="github section">
                  <div class="section-inner">
					<h2 class="heading">Contact Me</h2>
					<div class="content">
						
					 
				
						<form id="contact-form" method="post" action="contact.php" role="form">

									<div class="messages"></div>

									<div class="controls">

										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label for="form_name">Firstname *</label>
													<input id="form_name" type="text" name="name" class="form-control" placeholder="Please enter your firstname *" required="required" data-error="Firstname is required.">
													<div class="help-block with-errors"></div>
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label for="form_lastname">Lastname *</label>
													<input id="form_lastname" type="text" name="surname" class="form-control" placeholder="Please enter your lastname *" required="required" data-error="Lastname is required.">
													<div class="help-block with-errors"></div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label for="form_email">Email *</label>
													<input id="form_email" type="email" name="email" class="form-control" placeholder="Please enter your email *" required="required" data-error="Valid email is required.">
													<div class="help-block with-errors"></div>
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label for="form_phone">Phone</label>
													<input id="form_phone" type="tel" name="phone" class="form-control" placeholder="Please enter your phone">
													<div class="help-block with-errors"></div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-12">
												<div class="form-group">
													<label for="form_message">Message *</label>
													<textarea id="form_message" name="message" class="form-control" placeholder="Message for me *" rows="4" required="required" data-error="Please,leave us a message."></textarea>
													<div class="help-block with-errors"></div>
												</div>
											</div>
											<div class="col-md-12">
												<input type="submit" class="btn btn-success btn-send" value="Send message">
											</div>
										</div>
										<div class="row">
											<div class="col-md-12">
												<p class="text-muted"><strong>*</strong> These fields are required. </p>
											</div>
										</div>
									</div>

								</form>
									</div><!--//content-->
				</div>
                </section><!--//section-->
            </div><!--//primary-->
            <div class="secondary col-md-4 col-sm-12 col-xs-12">
                
				<my-address></my-address>                
				<skills></skills>
				<education></education>
                
                
                
                
                
                <!--<aside class="list music aside section">
                    <div class="section-inner">
                        <h2 class="heading">Favourite coding music</h2>
                        <div class="content">
                            <ul class="list-unstyled">
                                <li><i class="fa fa-headphones"></i> <a href="#">Etiam hendrerit urna nunc</a></li>
                                <li><i class="fa fa-headphones"></i> <a href="#">Ut sollicitudin in mauris non auctor</a></li>
                                <li><i class="fa fa-headphones"></i> <a href="#">Etiam hendrerit urna nunc</a></li>
                                <li><i class="fa fa-headphones"></i> <a href="#">Duis et felis bibendum</a></li>
                            </ul>
                        </div> 
                    </div>
                </aside>--><!--//section-->
                
                
                
            </div><!--//secondary-->    
        </div><!--//row-->