 <aside class="education aside section">
	<div class="section-inner">
		<h2 class="heading">Education</h2>
		<div class="content">
			<div class="item">                      
				<h3 class="title"><i class="fa fa-graduation-cap"></i> BTech in Information Technology</h3>
				<h4 class="university">University College London <span class="year">(2007-2011)</span></h4>
			</div><!--//item-->
			<div class="item">
				<h3 class="title"><i class="fa fa-graduation-cap"></i> Plus Two Kerala HSE</h3>
				<h4 class="university">Higher Seconsary Board of Kerala <span class="year">(2005-2007)</span></h4>
			</div><!--//item-->
		</div><!--//content-->
	</div><!--//section-inner-->
</aside><!--//section-->