<img class="profile-image img-responsive pull-left" src="assets/images/profile.png" alt="James Lee" height="180" width="180"/>
            <div class="profile-content pull-left">
                <h1 class="name">Vineesh M P</h1>
                <h2 class="desc">Web Developer</h2>   
                <ul class="social list-inline">
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>                   
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-github-alt"></i></a></li>                  
                    <li class="last-item"><a href="#"><i class="fa fa-hacker-news"></i></a></li>                 
                </ul> 
            </div><!--//profile-->