 <section class="experience section">
	<div class="section-inner">
		<h2 class="heading">Work Experience</h2>
		<div class="content">
		
			<div class="item">
				<h3 class="title">System Analyst - <span class="place"><a href="#">Valuelabs</a></span> <span class="year">(July 2016 - Present)</span></h3>
				<p>Roles:
				• Prioritizing the sprint backlog
				• Estimate the effort to implement User Stories
				• Development to achieve sprint goals.
				• Unit and initial Acceptance testings
				• Identify obstacles and informing the Scrum Master
				• Self organizing
				• Daily Scrum meetings </p>
			</div><!--//item-->
			<div class="item">
				<h3 class="title">Project Lead - <span class="place"><a href="#">Neologix Software Solutions</a></span> <span class="year">(April 2016 - June 2016)</span></h3>
				<p>Roles:
				•  Plan, coordinate  and  conduct  multiple  complex  software  engineering  activities
				•  Planning and developing  project  plan. 
				•  Inspire,  motivate  and  influence  the  team  members.
				•  Manage the flow of day to day operations
				• Create and distribute reports to appropriate personal. </p>
			</div><!--//item-->
			<div class="item">
				<h3 class="title">Senior Software Developer - <span class="place"><a href="#">Neologix Software Solutions</a></span> <span class="year">(2014 - 2016)</span></h3>
				<p>Roles : Developing Web Applications Using Colfusion,SQL Server, HTML,CSS,Javascript,JQuery etc.  Creating and developing project plan and participate in cost estimation.  Code version handling.  </p>
			</div><!--//item-->
			
			<div class="item">
				<h3 class="title">Software Developer - <span class="place"><a href="#">Neologix Software Solutions</a></span> <span class="year">(2011 - 2014)</span></h3>
				<p>Roles : Developing Web Applications Using Colfusion,SQL Server, HTML,CSS,Javascript,JQuery etc.   </p>
			</div><!--//item-->
			
		</div><!--//content-->  
	</div><!--//section-inner-->                 
</section><!--//section-->
