
    <profile-header></profile-header>    
    <div class="container sections-wrapper">
        <div class="row">
            <div class="primary col-md-8 col-sm-12 col-xs-12">
               <profile-about-me></profile-about-me>
               <profile-experience></profile-experience>  
               <profile-projects></profile-projects>            
                
                
            </div><!--//primary-->
            <div class="secondary col-md-4 col-sm-12 col-xs-12">
                 
				<profile-basic-info></profile-basic-info>
                <profile-skills></profile-skills>
				<profile-education></profile-education>
				<aside class="languages aside section">
                    <div class="section-inner">
					  <h2 class="heading">My Stackoverflow</h2>  
					<a href="https://stackoverflow.com/users/1856338/vineesh">
				<img src="https://stackoverflow.com/users/flair/1856338.png" width="312" height="87" alt="profile for Vineesh at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="profile for Vineesh at Stack Overflow, Q&amp;A for professional and enthusiast programmers">
				</a></div>
                </aside>
                <section class="github section">
                    <div class="section-inner">
                        <h2 class="heading">My GitHub Activities</h2>  
                        <div id="github-graph" class="github-graph">
                        </div><!--//github-graph-->
                        <!--//Usage: http://caseyscarborough.com/projects/github-activity/ -->   
                        <div id="ghfeed" class="ghfeed" github>
                        </div><!--//ghfeed-->
                    </div><!--//secton-inner-->
                </section><!--//section-->	
                  <!--          
                <aside class="languages aside section">
                    <div class="section-inner">
                        <h2 class="heading">Languages</h2>
                        <div class="content">
                            <ul class="list-unstyled">
                                <li class="item">
                                    <span class="title"><strong>English:</strong></span>
                                    <span class="level">Native Speaker <br class="visible-xs"/><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </span>
                                </li>
                                <li class="item">
                                    <span class="title"><strong>Spanish:</strong></span>
                                    <span class="level">Professional Proficiency <br class="visible-sm visible-xs"/><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half"></i></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </aside>
				-->		   
            
            </div><!--//secondary-->    
        </div><!--//row-->
    </div><!--//masonry-->
    
   <profile-footer></profile-footer>
