  <aside class="skills aside section">
	<div class="section-inner">
		<h2 class="heading">Skills</h2>
		<div class="content">
			<p class="intro">
			{{skills.summary}}</p>
			<div class="skillset">
				<div *ngFor="let skill of skills.skills" class="item">
					<h3 class="level-title">{{skill.name}}<span class="level-label">{{skill.level}}</span></h3>
				   <div class="progress">
						<div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style.width="{{skill.percentage}}%">
							{{skill.percentage}}%
						</div>
					</div>                             
				</div>
				
			</div>              
		</div><!--//content-->  
	</div><!--//section-inner-->                 
</aside><!--//section-->

